DJANGO_SETTINGS_MODULE=config.settings.prod

SECRET_KEY=django_secretkey

ALLOWED_HOSTS=your_domains

WAGTAILADMIN_BASE_URL=your_domains
CSRF_TRUSTED_ORIGINS=your_domains

POSTGRES_DB=your_db
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_pass
POSTGRES_HOST=your_db_host
POSTGRES_PORT=your_db_host

B2_APPLICATION_KEY_ID=backblaze_id_key
B2_APPLICATION_KEY=backblaze_key
B2_BUCKET_NAME=backblaze_bucketname
B2_ENDPOINT_URL=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004

BREVO_HOST=smtp-relay.brevo.com
BREVO_PORT=587
BREVO_SMTP_LOGIN=brevo_smtp_login
BREVO_SMTP_PASSWORD=brevo_smtp_pass
WEBSITE_EMAIL=your_email