<section id="hero" class="container container-section">
  <h1>Joshdels</h1>
  <p>
    I build enterprise GIS software that reduces manual spatial work and
    streamlines complex workflows, helping organizations save time and manage
    large-scale geospatial data more efficiently.
  </p>

  <span>GIS · CAD · Software Development · Automation</span>
  <div class="button-section">
    <a href="{% url 'contact' %}" class="btn btn-secondary">Contact Me</a>
    <a href="#" class="btn btn-line-primary">View Projects</a>
  </div>
</section>
