.container {
  padding: 4rem;
}

.container-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  width: 100%;
  min-height: 100vh;

  margin: 0 auto;

  align-items: center;
}

.container-two-columns img {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container-two-columns {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .container-two-columns img {
    max-width: 350px;
  }
}
