<section class="container footer">
    <section class="content">
        <div class="headers">
            <h1>Joshdels</h1>
            <p>Beyond maps. Reducing manual work. Integrating large-scale spatial data into accurate, reliable, and efficient workflows.</p>
        </div>
        <div>
            <span>Porfolio</span>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="/">Home</a>
            <a href="/projects/">Projects</a>
        </div>
        <div>
            <span>Connect</span>
            <a target="_blank"
               href="https://www.linkedin.com/in/joshua-de-leon-8b0310301/">Linkedin</a>
            <a target="_blank" href="https://github.com/joshdels">Github</a>
            <a target="_blank" href="https://www.facebook.com/joshua.de.leon.679078">Facebook</a>
        </div>
    </section>
    <section class="bottom">
        <p>© {% now "Y" %}Joshdels. All rights reserved.</p>
        <p>
            Sponsor by <a href="https://topmapsolutions.com/">TopMap Solutions</a>
        </p>
    </section>
</section>
