<section class="container footer">
    <section class="content">
        <div class="headers">
            <h1>Joshdels</h1>
            <p>Beyond maps. Building GIS software and systems.</p>
        </div>
        <div>
            <span>Porfolio</span>
            <a href="#">Home</a>
            <a href="#">Projects</a>
        </div>
        <div>
            <span>Connect</span>
            <a href="#">Linkedin</a>
            <a href="#">Github</a>
            <a href="#">Facebook</a>
            <a href="#">Viber</a>
        </div>
    </section>
    <section class="bottom">
        <p>© {% now "Y" %}Joshdels. All rights reserved.</p>
        <p>
            Sponsor by <a href="https://topmapsolutions.com/">TopMap Solutions</a>
        </p>
    </section>
</section>
